@use '../../assets/styles/colors';

.auth-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../../assets/images/map-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  
  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(4px);
  }

  &-flip {
    width: 30%;
    height: 540px;
    min-width: 280px;
    text-align: center;

    &-inner {
      height: 100%;
      transition: transform 0.8s;
      transform-style: preserve-3d;
      border-radius: 4px;
  
      &-register {
        transform: rotateY(180deg);
      }
  
      &-login, &-register {
        position: absolute;
        width: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        border-radius: 4px;
        background-color: colors.$secondary;
        box-shadow: 5px 5px 15px 0px colors.$secondary-dark;

        &-redirect {
          width: 80%;
          display: flex;
          justify-content: flex-start;
          color: colors.$secondary-dark;
          cursor: pointer;

          &:hover {
            letter-spacing: 1.1px;
          }
        }
  
        form {
          padding: 16px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
  
          & input {
            margin: 4px 8px;
          }

          label {
            width: 80%;
            margin: auto 0;
            display: flex;
            justify-content: flex-start;
            font-weight: 600;
            font-size: 16px;
            color: colors.$secondary-dark;
          }

          input[type=text], input[type=password] {
            width: 80%;
            height: 36px;
            margin-bottom: 24px;
            padding: 18px 16px;
            border-radius: 4px;
            outline: none;
            border: 3px solid colors.$secondary-light;
            color: colors.$secondary-dark;
            font-size: 16px;

            &:focus {
              border: 3px solid colors.$primary;
            }
          }
        }

        &-button {
          width: 80%;
          margin: auto 0;
          display: flex;
          justify-content: flex-start;

          input[type=submit] {
            width: 30%;
            height: 32px;
            margin: 0;
            margin-bottom: 16px;
            border: 3px solid colors.$primary;
            background-color: colors.$primary;
            color: colors.$secondary;
            font-size: 16px;
            font-weight: 600;
            cursor: pointer;

            &:hover {
              background-color: colors.$secondary;
              color: colors.$primary;
            }
          }
        }
  
        &-title {
          padding: 16px;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: colors.$primary;
          font-size: 24px;
          font-weight: 600;
          color: colors.$secondary;
          border-radius: 4px 4px 0 0;
        }
      }
    }
  }
}

.flipped {
  transform: rotateY(180deg);
}